# Dependencies
/node_modules
/.claude

# Next.js
/.next/
/out/
next-env.d.ts

# Production
/build

# Environment
.env.local
.env*.local
.claude

# Debug
npm-debug.log*

# Misc
.DS_Store
*.pem
Thumbs.db
/.vscode
